MONGO_URI=mongodb://<username>:<url_encoded_password>@ac-qnxkvbb-shard-00-00.noyk131.mongodb.net:27017,ac-qnxkvbb-shard-00-01.noyk131.mongodb.net:27017,ac-qnxkvbb-shard-00-02.noyk131.mongodb.net:27017/<database>?tls=true&replicaSet=atlas-bhjboo-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
PORT=5001
CLIENT_URL=http://localhost:3000
